<div class="col-md-12">
  <h1>To Do List</h1>
</div>
<div>
  <div>
    <div class="col-md-12">
      <form class="example-form">
        <p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter task name here..." name="name" [(ngModel)]="name" >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Enter description here..." name="description" [(ngModel)]="description" ></textarea>
          </mat-form-field>
        </p>
        <p>
          <button mat-raised-button color="primary" (click)="createTask()">Create</button>
          <button mat-stroked-button color="primary" (click)="clear()">Clear</button>
        </p>
      </form>  
    </div>
  </div>
  <div>
    <div class="col-md-12">
      <h2>Tasks</h2>
      <mat-grid-list cols="5" rowHeight="200px">
      <mat-grid-tile *ngFor="let task of tasks">
      <mat-card class="example-card" >
        <mat-card-header>
          <h4>{{ task.name }}</h4>
        </mat-card-header>
        <mat-card-content>
          <small>Description</small>
          <p>
            {{ task.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Mark as Done</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    </mat-grid-list>
    </div>
  </div>
</div>