.full-width{
    width: 100%;
}

small{
    color: #777;
}

button{
    margin-right: 10px;
}

mat-card {
    width: 100%;
    border: 1px groove #777777;
}

mat-grid-list {
    width: 100%;
}

mat-grid-tile {
    width: 100%;
}